@model abstract_factory.Models.UserInterfaceViewModel
@{
    ViewData["Title"] = "Абстрактная фабрика. Интерфейсы на разных языках";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">
              @Model.Text.MainContext["Main"]
            </p>
        </div>
    </div>
</div>