@model abstract_factory.Models.UserInterfaceViewModel
@{
    ViewData["Title"] = "Абстрактная фабрика. Интерфейсы на разных языках";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center">
              @Model.Text.MainContext["Main"]
            </p>
        </div>
    </div>

    <div class="mt-4">
        <a href="@Url.Action("Index", new { lang = "ru" })" class="btn btn-primary">Русский</a>
        <a href="@Url.Action("Index", new { lang = "fr" })" class="btn btn-primary">Français</a>
        <a href="@Url.Action("Index", new { lang = "it" })" class="btn btn-primary">Italiano</a>
    </div>
</div>